<!DOCTYPE html>
<html lang="en">
<head>
 <title>TinyApp</title>
</head>
<body>

    <!-- Add your EJS code here -->
    <header>
    <% include ./partials/_header %>
	</header>
	
	 
	
	<% if ((user) && user !== null) {%>
	<% for (var obj in urls) { %>
		<form method="POST" action="/urls/<%=obj%>/delete">

    	<p>
    		<%= obj %> : user - <%= urls[obj]['user']%> URL - <%= urls[obj]['longURL']%> <a href = "/urls/<%=obj%>"> EDIT  </a> 
    		<button>DELETE</button>
    		<br></br>
    	</p>
    	</form>
    	
	</form> 
    <% }%>
    
     <a href="/urls/new"><button>Add a URL:</button></a>
   
	<form method="POST" action="/logout">
	<br></br>
	<button>Logout</button>
	<br></br>
	</form> 


	<% } else {%>
	<h3>PLEASE <a href="/login">LOGIN</a> FIRST</h3>
	<% }%>

   
</body>
</html>